################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicSorter/x64/Debug/MusicSorter.tlog
/MusicSorter/x64/Debug
/MusicSorter/MusicSorter.vcxproj.filters
*.user
x64
/Nox Tools.VC.db
/Nox Tools.VC.VC.opendb
/MusicSorter/GeneratedFiles
/.vs/Nox Tools/v14

MusicSorter/x64/
/.vs/Nox Tools/v16
